
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml"; }

<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı</label>
    <input type="text" class="form-control" name="Referencename" />
    <br />
    <label>Referans Numarası</label>
    <input type="text" class="form-control" name="ReferenceNo" />
    <br />
    <label>Referans Maili</label>
    <input type="text" class="form-control" name="ReferenceMail" />
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>
</form>


